{% extends 'base.html' %}
{% load static %}
{% block title %}Главная Brunoyam News{% endblock %}
{% block cart %}{% endblock %}
{% block header %}Самые свежие новости{% endblock %}
{% block content %}
{% for news in all_news %}
  <a href="#" onclick="event.preventDefault();">
    <div class="card d-flex flex-sm-row ">
      {% if news.image %}
        <img src="{{ news.image.url }}" alt="Фото">
      {% endif %}
      <div class="card-body">
        <h4>{{ news.title }}</h4>
        <p>
          {{ news.description }}
        </p>
      </div>
    </div>
  </a>
{% endfor %}
{% endblock %}