{% extends 'base.html' %}
{% load static %}
{% block title %}Перечень товаров {{ category_name }}{% endblock %}
{% block cart %}
<a class="basket" href="#" onclick="event.preventDefault();">
  <i class="fa-solid fa-basket-shopping"></i>
</a>
{% endblock %}
{% block header %}Товары категории {{ category_name }}{% endblock %}
{% block content %}
<div class="row product-title">
  <div class="col-sm-3 col-4 product-img">
    <p>Изображение товара</p>
  </div>
  <div class="col-sm-3 col-5 product-name">
    <p>Наименование товара</p>
  </div>
  <div class="col-sm-3 col-3 product-price">
    <p>Цена</p>
  </div>
  <div class="col-1 product-stock d-none d-sm-block">
    <p>Наличие товара</p>
  </div>
</div>
{% if products %}
  {% for product in products %}
    {% if product.stock > 0 %}
      <a href="{% url 'product' category_name product.id %}">
        <div class="row product-row">
          <div class="col-sm-3 col-4 product-img">
            <img src="{% static ''%}{{ product.image }}" alt="Фото">
          </div>
          <div class="col-sm-3 col-5 product-name">
            <p>{{ product.name }}</p>
          </div>
          <div class="col-sm-3 col-3 product-price">
            <p>{{ product.price }}</p>
          </div>
          <div class="col-1 product-stock d-none d-sm-block">
            <p>{{ product.stock }}</p>
          </div>
          <div class="col-2 basket d-none d-sm-block">
            <i class="fa-solid fa-basket-shopping"></i>
          </div>
        </div>
      </a>
    {% endif %}
  {% endfor %}
  {% for product in products %}
    {% if product.stock == 0 %}
      <div class="out-of-stock">
        <div class="z-2 text-overlay">
          <p> Временно нет в наличии</p>
        </div>
        <div class="z-1 row product-row">
          <div class="col-sm-3 col-4 product-img">
            <img src="{% static ''%}{{ product.image }}" alt="Фото">
          </div>
          <div class="col-sm-3 col-5 product-name">
            <p>{{ product.name }}</p>
          </div>
          <div class="col-sm-3 col-3 product-price">
            <p>{{ product.price }}</p>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
{% else %}
<div class="row product-row">
  <p> Товары данной категории временно отсутствуют.</p>
</div>
{% endif %}
{% endblock %}
